<md-content layout="column" ng-controller="pdfWrap">
    <md-content layout="row">
        <md-card flex>
            <img src="http://files.jb51.net/do/uploads/litimg/131128/2243291E12.gif" class="md-card-image"
                 alt="Washed Out">

            <h2><a href="assets/pdf_viewer/web/viewer.html?file=/attachment/json.pdf" target="_blank">JSON</a></h2>
        </md-card>
        <md-card flex>
            <img src="http://images.bookuu.com/book/C/01453/97871211774082359397-fm.jpg" class="md-card-image"
                 alt="Washed Out">

            <h2>
                <a href="assets/pdf_viewer/web/viewer.html?file=http://77g5a4.com1.z0.glb.clouddn.com/JavaScript语言精粹.pdf"
                   target="_blank">JavaScript语言精粹</a></h2>

        </md-card>

    </md-content>
</md-content>

<script type="text/ng-template" id="articleNewD">
    123
</script>