<div id="articleview" ng-controller="articleWrap">
    <section>
        <header>
            <i class="fa fa-qrcode fa-fw qrcode"></i>
            <span class="title">{{article.title}}</span>
            <span class="extension"><i class="fa fa-clock-o fa-fw"></i>{{DateParse(article.created_at,"yyyy-MM-dd hh:mm:ss")}}</span>
        </header>
        <article ng-bind-html="article.content"  style="min-height: 300px">
        </article>
        <footer>
            <i class="fa fa-user fa-fw"></i> {{article.user.name||article.user.username||"匿名"}}
            <i class="fa fa-eye fa-fw"></i>{{article.views}}
            <i class="fa fa-comment fa-fw"></i>0
        </footer>
    </section>
    <!--<section>-->
        <!--<div class="editor" ng-model="comment.content"-->
             <!--ui-ace="{showGutter: false,mode:'markdown',theme:'chrome'}" style="height: 200px"></div>-->
    <!--</section>-->
</div>